{% extends "base.html" %}
{% block head_title %}
Digital Marketplace
{% endblock head_title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'books:book_list' %}">Book List</a></li>
<li class="breadcrumb-item active" aria-current="page">{{book.title}}</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <main>
            <div class="card" style="width: 18rem;">
                <div class="card-header">{{book.title}}</div>
                <img src="{{book.cover.url}}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Published: {{book.publication_date}}</p>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-8">
        <aside>
            {% for chapter in book.chapter_set.all %}
            <div class="card">
                <div class="card-body">
                    <a href="{{chapter.get_absolute_url}}">{{chapter.chapter_number}}. {{chapter.title}}</a>
                </div>
            </div>
            {% endfor %}
        </aside>
    </div>
</div>

{% endblock content %}